 // * ------------------------
 // * created by seven 20160614
 // * define variables for project
 // * ------------------------

 // * ------------------------
 // * define basic button colors
 // * active\hover\focus
 // * ------------------------
$btn-normal-bg-color : #e0e1e2;
$btn-shadow-color : rgba(34, 36, 38, 0.15);
$btn-color : rgba(0, 0, 0, 0.6);

$btn-positive-bg-color : #21ba45;
$btn-positive-color : #fff;

$btn-negative-bg-color : #db2828;
$btn-negative-color : #fff;

$btn-primary-bg-color : #2185d0;
$btn-primary-color : #fff;
